<Files .htaccess>

order allow,deny

deny from all

</Files>

ErrorDocument 400 page-error.html?status=400

ErrorDocument 401 page-error.html?status=401

ErrorDocument 403 page-error.html?status=403

ErrorDocument 404 page-error.html?status=403

ErrorDocument 500 page-error.html?status=500
