* {
	 margin: 0;
	 padding: 0;
}
 body {
	 background-color: #f5f5fa;
	/*#161616 */
}
 .container {
	/*ul li *:active,ul li *:focus{
		background-color:#d9d9d9
	}
	*/
}
 .container ul li:after, .container ul:after, .container ul:before {
	 content: "";
}
 html {
	 line-height: 1.15;
	 -ms-text-size-adjust: 100%;
	 -webkit-text-size-adjust: 100%;
}
 .container hr {
	 box-sizing: content-box;
}
 .container a {
	 background-color: transparent;
	 -webkit-text-decoration-skip: objects;
}
 .container small {
	 font-size: 80%;
}
 .container img {
	 border-style: none;
}
 .container button {
	 font-family: sans-serif;
	 font-size: 100%;
	 line-height: 1.15;
	 margin: 0;
}
 .container button, .container select {
	 text-transform: none;
}
 .container [type=reset], .container [type=submit], .container button, html [type=button] {
	 -webkit-appearance: button;
}
 .container [type=button]::-moz-focus-inner, .container [type=reset]::-moz-focus-inner, .container [type=submit]::-moz-focus-inner, .container button::-moz-focus-inner {
	 border-style: none;
	 padding: 0;
}
 .container [type=button]:-moz-focusring, .container [type=reset]:-moz-focusring, .container [type=submit]:-moz-focusring, .container button:-moz-focusring {
	 outline: ButtonText dotted 1px;
}
 .container [type=number]::-webkit-inner-spin-button, .container [type=number]::-webkit-outer-spin-button {
	 height: auto;
}
 .container [type=search] {
	 -webkit-appearance: textfield;
	 outline-offset: -2px;
}
 .container [type=search]::-webkit-search-cancel-button, .container [type=search]::-webkit-search-decoration {
	 -webkit-appearance: none;
}
 .container ::-webkit-file-upload-button {
	 -webkit-appearance: button;
	 font: inherit;
}
 .container {
	 font: 14px -apple-system-font, ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
}
 .container .font-subtitle, .container [role=footer], .container .font-bold, .container b, .container strong {
	 font-weight: 600;
}
 .container .font-heading, .container a, .container button {
	 color: #6680f9;
	 text-decoration: none;
}
 .container button {
	 background: 0 0;
	 margin: 0;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
}
 .container hr, .container ul li:after, .container ul:after, .container ul:before {
	 display: block;
	 width: 100%;
	 height: 1px;
	 background: #c8c7cc;
}
 body {
	 margin: 20px 0 35px;
}
 body > p, .container h2 {
	 margin: 15px;
	 color: #6d6d72;
}
 @media (min-width: 708px) {
	 body > p, .container h2 {
		 margin-left: 0;
		 margin-right: 0;
	}
	 .container ul {
		 border-radius: 4px;
	}
}
 .container h2 {
	 text-transform: uppercase;
	 margin-bottom: 5px;
}
 .container h2 a {
	 color: inherit;
}
 .container ul, .container ul li {
	 position: relative;
}
 .container ul {
	 margin: 5px 0 35px;
	 list-style: none;
	 background: #fff;
}
 .container ul:after, .container ul:before {
	 position: absolute;
	 left: 0;
}
 .container ul:before {
	 top: 0;
}
 .container ul:after {
	 bottom: 0;
}
 .container ul li {
	 margin-left: 15px;
	 margin-bottom: -1px;
	 padding: 12px 15px 12px 0;
}
 .container ul li:after {
	 position: absolute;
	 top: 0;
	 left: 0;
}
 @media (min-width: 708px) {
	 .container ul:after, .container ul:before {
		 display: none;
	}
	 .container ul li:first-child, .container ul li:first-child [role=button], .container ul li:first-child [role=link], .container ul li:first-child p {
		 border-top-left-radius: 4px;
		 border-top-right-radius: 4px;
	}
	 .container ul li:last-child, .container ul li:last-child p {
		 border-bottom-left-radius: 4px;
		 border-bottom-right-radius: 4px;
	}
}
 .container ul li [role=button], .container ul li [role=link], .container ul li p {
	 padding: 12px 15px;
	 margin: -12px -15px;
}
 .container ul:not(.no-goto) li *:after {
	 content: "";
	 display: block;
	 background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI5OSI+PHBvbHlnb24gcG9pbnRzPSIzNC43LDQ5LjcgMCw4NC40IDE1LjEsOTkuNSA2NC44LDQ5LjcgNDkuNywzNC43IDE1LjEsMCAwLDE1LjEiIHN0eWxlPSJmaWxsOiNjN2M3Y2MiLz48L3N2Zz4=);
	 position: absolute;
	 top: 50%;
	 left: 95%;
	 -webkit-transform: translate(-100%, -50%);
	 -moz-transform: translate(-100%, -50%);
	 -ms-transform: translate(-100%, -50%);
	 -o-transform: translate(-100%, -50%);
	 transform: translate(-100%, -50%);
	 width: 10px;
	 height: 13px;
	 background-size: 100% 100%;
}
 .container ul li > button {
	 font: inherit;
	 width: 100%;
	 text-align: left;
}
 .container ul li .pull-in {
	 vertical-align: top;
}
 .container ul + [role=footer], .container ul + p {
	 margin-top: -25px;
}
 .container .bg-white {
	 background: #fff !important;
}
 .container .value {
	 color: #777;
	 float: right;
	 text-align: right;
	 margin-left: 8px;
}
 .container .icon_ {
	 width: 2em;
	 height: 2em;
	 border-radius: 20%;
}
 .container .icon__ {
	 width: 1.5em;
	 height: 1.5em;
	 border-radius: 20%;
}
 .container .icon-more + * {
	 -webkit-transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -o-transform: translateY(-50%);
	 transform: translateY(-50%);
}
 .container ul > li > a > label, .container ul > li > p > a > label, .container ul > li > button > label, .container ul > li > p > button > label {
	 margin-left: 0.5em;
}
 .container ul > li > p {
	 overflow: auto;
}
 .container a:focus, .container a:active {
	 text-decoration: none;
}
 .container .icon-more {
	 width: 1.5em;
	 height: 1.5em;
	 display: inline-block;
	 line-height: 1;
	 border-radius: 20%;
	 background-size: 100% 100%;
	 background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gU3ZnIFZlY3RvciBJY29ucyA6IGh0dHA6Ly93d3cub25saW5ld2ViZm9udHMuY29tL2ljb24gLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAwIDEwMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPG1ldGFkYXRhPiBTdmcgVmVjdG9yIEljb25zIDogaHR0cDovL3d3dy5vbmxpbmV3ZWJmb250cy5jb20vaWNvbiA8L21ldGFkYXRhPg0KPGc+PHBhdGggZD0iTTUwMCw5ODcuOGMtMTMwLjksMC0yNTMuOS01MC43LTM0Ni41LTE0Mi44QzYxLDc1Mi45LDEwLDYzMC40LDEwLDUwMGMwLTEzMC40LDUxLTI1Mi45LDE0My41LTM0NUMyNDYuMSw2Mi45LDM2OS4xLDEyLjIsNTAwLDEyLjJjMTMwLjksMCwyNTMuOSw1MC43LDM0Ni40LDE0Mi44QzkzOSwyNDcuMSw5OTAsMzY5LjYsOTkwLDQ5OS45YzAsMTMwLjQtNTEsMjUyLjktMTQzLjYsMzQ1LjFDNzUzLjksOTM3LjEsNjMwLjksOTg3LjgsNTAwLDk4Ny44eiBNNTAwLDgyLjFjLTExMi4zLDAtMjE3LjgsNDMuNS0yOTcuMSwxMjIuNEMxMjMuNywyODMuNSw4MCwzODguNCw4MCw1MDBjMCwxMTEuNiw0My42LDIxNi41LDEyMi45LDI5NS40Yzc5LjMsNzksMTg0LjgsMTIyLjQsMjk3LjEsMTIyLjRjMTEyLjIsMCwyMTcuNy00My41LDI5Ny4xLTEyMi40Yzc5LjMtNzguOSwxMjMtMTgzLjgsMTIyLjktMjk1LjRjMC0xMTEuNi00My42LTIxNi41LTEyMi45LTI5NS40QzcxNy44LDEyNS42LDYxMi4zLDgyLjEsNTAwLDgyLjF6Ii8+PHBhdGggZD0iTTc0NSw0NjVINTM1VjI1NWMwLTE5LjMtMTUuNy0zNS0zNS0zNWMtMTkuMywwLTM1LDE1LjctMzUsMzV2MjEwSDI1NWMtMTkuMywwLTM1LDE1LjctMzUsMzVjMCwxOS4zLDE1LjcsMzUsMzUsMzVoMjEwdjIxMGMwLDE5LjQsMTUuNywzNSwzNSwzNWMxOS4zLDAsMzUtMTUuNiwzNS0zNVY1MzVoMjEwYzE5LjQsMCwzNS0xNS43LDM1LTM1Qzc4MCw0ODAuNyw3NjQuNCw0NjUsNzQ1LDQ2NXoiLz48L2c+DQo8L3N2Zz4=);
}
 
