
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
}

@media(max-width:1080px) {
	.banner-info h5 {
		font-size: 1em;
	}
	.banner-info h3 {
		font-size: 3em;
	}
}

/*** Responsive Menu For Smaller Device ***/



@media(max-width:640px) {
	.banner-info h5,
	.banner-info h6 {
		margin: 0.5em 0;
		font-size: 0.7em;
	}
	.banner-info h5 {
		font-size: 0.9em;
	}
	.banner-info h3 {
		font-size: 2.2em;
	}
}


@media(max-width:480px) {
	.banner-info h3 {
		font-size: 2em;
	}
	.banner-info h5,
	.banner-info h6 {
		font-size: 0.8em;
	}
	.banner-info h5 {
		font-size: 0.9em;
	}

}

@media(max-width:440px) {
	
	.banner-info h3 {
		font-size: 1.8em;
	}
}

.main--title {
	text-align: center;
	text-transform: uppercase;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.main--title > span {
	color: var(--primary);
}


.progress-one {
	
}

.progress-one > .progress-title {
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
.progress-one > .progress {
	height: 0.5rem;
	border-radius: 12px;
}

.banner, .sevirce, .about, .gallery, .testimonials, .contact, .footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.sevirce {
	color: #fff;
	background-color: #000;
}

.sevirce .card h5 {
	font-weight: 600;
	text-transform: uppercase;
}

.sevirce .card {
	margin-top: 1rem;
	background-color: rgba(255, 255, 255, 0.1)
}

.banner {
	background: url("images/banner.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	color: #fff;
	position: relative;
}
.banner::before {
	background: url("images/banner.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-webkit-filter: blur(3px);
	-o-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: ""
}
.sevirce {
	background: url("images/serve.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.section_1_gallery_grid {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.section_1_gallery_grid img {
	padding: 3px;
	border: 3px solid rgba(170, 170, 170, .5);
}

.bg-0 {
	background-color: #00000000 !important;
}

.stats {
	background: url("images/stats.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.stats_info p {
	font-size: 2.5em;
	letter-spacing: 1px;
	font-weight: 700;
	color: #fff;
}

.stats_info h4 {
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1em;
}

.stats_info i {
	font-size: 2.3em;
	color: #ffc107;
	margin: 0;
}

.stats_info {
	text-align: center;
	padding: 0;
	border-top: none;
	border-bottom: none;
}

.testimonials {
	background: url("images/testimonials.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.contact {
	background: url("images/contact.jpg") no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	color: #fff;
}
.contact input, .contact textarea {
	background-color: #00000000;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	color: #fff;
}

.contact textarea {
	width: 100%;
	height: 5rem;
}

.contact input:focus, .contact textarea:focus {
	background-color: #00000000;
	color: #fff;
}

.address-info i {
	color: var(--warning);
	font-size: 1.5rem;
}
.address {
	padding-top: 3rem;
}

.contact .submit {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}

.list-footer > li {
	list-style-type: none;
	font-size: 100%;
	font-weight: 600;
	color: rgba(0, 0, 0, .5);
	text-transform: uppercase;
}

ul.social-icons li {
	list-style: none;
	margin: 0 1em;
}

ul.social-icons li a {
	width: 32px;
	height: 32px;
	text-align: center;
	color: #333;
	border: 2px solid #333;
	display: inline-block;
	line-height: 30px;
	border-radius: 50%;
	font-size: 0.8em;
}

ul.social-icons li a:hover {
	color: #037ef3;
	border: 2px solid #037ef3;

}

@media (max-width: 800px) {
	ul.social-icons li {
		margin: 0 0.5em;
	}
}

.sevirce .card .card-body > i {
	font-size: 1.5rem;
	color: var(--warning);
}

.banner-info {
	text-transform: uppercase;
	font-weight: 600;
}

.btn-custom {
	padding: 0.22rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	border-radius: 20px;
	-moz-appearance: none;
	     appearance: none;
	-webkit-appearance: none;
	text-transform: uppercase;
	font-weight: 600;
}

.banner-info h3 {
	color: rgba(255, 255, 255, .2);
	font-weight: 700;
}

.banner-info h3:before {
	content: attr(data-text);
	position: absolute;
	overflow: hidden;
	max-width: 10em;
	white-space: nowrap;
	color: #fff;
	-webkit-animation: loading 8s linear;
	        animation: loading 8s linear;
}

@-webkit-keyframes loading {
	0% {
		max-width: 0;
	}
}

@keyframes loading {
	0% {
		max-width: 0;
	}
}
.footer {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}


.progress-one .progress-bar {
	-webkit-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}