:root {
	--height-toolbar: 38px;
}
html {
	background-color: #161616;
}
.bg-1, body {
	background-color: #161616;
	color: var(--light);
}
#app {
	position: relative;
}

.router-view {
	-webkit-transform-style: preverse-3d;
	        transform-style: preverse-3d;
	-webkit-transform: perspective(1000px);
	        transform: perspective(1000px);
}
.router-view > * {
	position: absolute;
	width: 100%;
	-webkit-transform-style: preverse-3d;
	        transform-style: preverse-3d;
	padding-bottom: calc(38px + 1rem);
}

.page-fade-enter-active,
.page-fade-leave-active {
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s
}
.page-3d-enter-active,
.page-3d-leave-active {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s
}
.page-fade-enter,
.page-fade-leave-to {
	opacity: 0;
	z-index: -10;
}
.page-3d-enter,
.page-3d-leave-to {
	opacity: 0;
	z-index: -10;
	-webkit-transform-origin: center bottom;
	    -ms-transform-origin: center bottom;
	        transform-origin: center bottom;
	-webkit-transform: perspective(1000px) translateY(10%) scale(.2);
	        transform: perspective(1000px) translateY(10%) scale(.2)
}

.f-600 {
	font-weight: 600 !important;
}
.bg-2 {
	background-color: #262626 !important
}
.img-100x100 {
	width: 100px;
	height: 100px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.img-40x40 {
	width: 40px;
	height: 40px;
}
.img-bg {
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat
}
.text-secondary {
	color: rgb(190, 199, 207) !important;
}

.rounded-20px, .rounded-20 {
	border-radius: 20px !important
}

.img-50x50 {
	width: 50px !important;
	height: 50px !important
}
.rounded-10px {
	border-radius: 10px !important;
}

select.custom-select:not(.disable-dark),
select.form-control:not(.disable-dark) {
    background-color: #161616 !important;
	color: #f8f9fa !important;
}
.swipe-page-enter-active,
.swipe-page-leave-active {
   -webkit-transition: opacity .3s, -webkit-transform .3s;
   transition: opacity .3s, -webkit-transform .3s;
   -o-transition: transform .3s, opacity .3s;
   transition: transform .3s, opacity .3s;
   transition: transform .3s, opacity .3s, -webkit-transform .3s
}
.swipe-page-leave-to,
.swipe-page-enter {
   -webkit-transform: translateX(20%);
       -ms-transform: translateX(20%);
           transform: translateX(20%);
   opacity: 0;
}

.fixed-child {
   position: fixed;
   top: 0 !important;
   left: 0;
   z-index: 2;
   height: 100%;
   padding-bottom: 3rem !important;
   width: 100%;
}

.scrollpy {
   	overflow-x: hidden;
   	overflow-y: scroll;
	-webkit-overflow-scrolling: touch !important;
	-moz-overflow-scrolling: touch !important;
	-ms-overflow-scrolling: touch !important;
	-o-overflow-scrolling: touch !important;
	overflow-scrolling: touch !important;
	-webkit-overflow-style: -webkit-autohiding-scrollbar !important;
	-moz-overflow-style: -moz-autohiding-scrollbar !important;
	-ms-overflow-style: -ms-autohiding-scrollbar !important;
	-o-overflow-style: -o-autohiding-scrollbar !important;
}