<!DOCTYPE html>
<html>
	<head>
		<title>Page Title</title>
		<script src=/my.js></script>
		<script src=/lib/libmy.js></script>
		<script src=/lib/vue.development.js></script>
		<link rel=stylesheet href=/lb/awesome/css/all.css></link>
		<link rel=stylesheet href=/lib/bootstrap.min.css></link>

<link rel=stylesheet href=css/Upload-App.css></link>

<script src="https://nguyenthanh1995.github.io/lib/polyfill.min.js"></script>

<script src="https://nguyenthanh1995.github.io/lib/simplemde.min.js"></script>
<link rel=stylesheet href="https://nguyenthanh1995.github.io/lib/simplemde.min.css"></link>
<link rel=stylesheet href="css/Login.css"></link>
<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-storage.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>
		<meta name=viewport content='width=device-width, initial-scale=1.0, user-scalable=no'/>

<script src="js/vue-router-sm.js"></script>

<script src="js/Upload-App.js"></script>

<script src="https://nguyenthanh1995.github.io/lib/sweet-alert-2.js"></script>
<script src="js/Swiper-Editor.js"></script>
<script src="js/Delete-App.js"></script>
<script src="js/Home.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="js/Login.js"></script>
<script>

onerror = console.warn = console.log = e => alert(e + "")

var firebaseConfig = {
	apiKey: "AIzaSyBLHGwZfk0XoRAtM6WwgqtKbEpAM4z6OSw",
	authDomain: "store-app-7e82d.firebaseapp.com",
	databaseURL: "https://store-app-7e82d.firebaseio.com",
	projectId: "store-app-7e82d",
	storageBucket: "store-app-7e82d.appspot.com",
	messagingSenderId: "465528518914",
	appId: "1:465528518914:web:f965f61aa254a4d8ab6a1b",
	measurementId: "G-KRD443YXML"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
var db = firebase.database()
var storage = firebase.storage()
var auth = firebase.auth()
</script>
	</head>
	<body>

<div id = "app">

	<div class="menu-parent__app">
		<transition name="fade" v-if="isLg === false">
			<div class="tmp-menu__app fixed-top w-100 h-100"
	v-show="state.menu__main"
	@click="state.menu__main = false"></div>
		</transition>

		<transition-group name="slide">
			<div class="menu__app bg-light border size-12 pt-3" 
	@click.stop
	key="menu__app"
	v-show="isLg || state.menu__main">
				<div class="row">
					<div class="col-12">
						<ul class="list-group">
							<li is="router-link" class="list-group-item bg-0 border-0 rounded-0"
	v-for="(name, link) in listItemMenu"
	:class="{_active: currentRoute == link}"
	:to="link" tag="li"
	:key="Math.random()"> {{ name }} </li>
						</ul>
					</div>
				</div>
			</div>
		</transition-group>
	</div>
	
	<div class="main__app container" v-if = "user !== null">
		<div class="fixed-top navbar-light button-menu__app bg-light align-items-center py-1">
			<button class="navbar-toggler-icon border-0 ml-2" @click.stop="state.menu__main = true"></button>

			<div class="dropdown float-right d-inline mr-2">
				<img class="avatar" :src="user.photoURL" data-toggle="dropdown" class="dropdown-toggle" @click="toggle"/>
				<div class="dropdown-menu dropdown-custom">
					<div class="dropdown-item h6">
			{{ user.displayName }}
					</div>
					<div class="dropdown-item py-2 small">
						<router-link class="text-dark dropdown-link" to="./My-Account.html"> Account Manager </router-link>
					</div>
					<div class="dropdown-item">
						<button class="btn btn-sm btn-block btn-primary	" @click="logout">Logout</button>
					</div>
				</div>
			</div>
		</div>
		
		<main class="row main-view__app">
			<div class="col-12">
				<router-view>
				</router-view>
			</div>
		</main>
	</div>
	
	<login class = "login__app container" v-else />

</div>

		
	</body>
</html>